SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_API_VERSION=2026-07

INTERNAL_API_SECRET=

DATABASE_URL=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
EMAIL_ADDRESS=
EMAIL_APP_PASSWORD=

GROQ_API_KEY=
OPENROUTER_API_KEY=

CONSOLE_LOG_LEVEL=INFO